button{
    text-decoration: none;
    background-color: transparent;
    border-color: white;
    color: white;
    border: solid 1px;
    border-radius: 100px;
    padding: 12px 20px;
    font-family: 'karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    cursor: pointer;

    >div{
        display: flex;
        white-space: nowrap;
        animation: marquee-animation 2s linear infinite;
        animation-play-state: paused;

        >span{
            display: flex;
            padding-right: 200px;
        }
    }
    
    &:hover{
        transition: color 1s linear;
        color: #3DCFB6;

        >div{
            animation-play-state: running;
        }
    }
}

@keyframes marquee-animation {
    0% { 
        transform: translateX(0); 
    }

    100% { 
        transform: translateX(-100%);
    }
}