section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 104px;
    height: 116px;

    >img{
        height: 64px;
    }
    
    >div >span{
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: "firaCode", sans-serif;
        white-space: nowrap;
    }

    &:hover >img{
        scale: 1.1;
    }
}

@media (max-width:1110px) {
    section {
        width: 93px;
        height: 110px;

        >div >span{
            font-size: clamp(16px, 1.621vw, 18px);
        } 
    }
    
}

@media (max-width:389px) {
    section {
        width: 75px;

        >img{
            height: 56px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }

        >div >span{
            font-size: 13px;;
        } 
    }
    
}