<section>
    <h1>What my colleagues say about me</h1>
    <div>
        <div>
            <span>Our project benefited enormously from Simon efficient way of working.</span>
            <div>
                <hr>
                <span>T.Schulz - Frontend Developer</span>
            </div>
        </div>
        <div>
            <span>Lukas has proven to be a reliable group partner. His technical skills and proactive approach were crucial to the success of our project.</span>
            <div>
                <hr>
                <span>H.Janisch - Team Partner</span>
            </div>
        </div>
        <div>
            <span>I had the good fortune of working with Lukas in a group project at the Developer Akademie that involved a lot of effort. He always stayed calm, cool, and focused, and made sure our team was set up for success. He's super knowledgeable, easy to work with, and I'd happily work with him again given the chance.</span>
            <div>
                <hr>
                <span>A. Fischer - Team Partner</span>
            </div>
        </div>
    </div>
    <div>
        <Button></Button>
        <span class="active">•</span>
        <span>•</span>
        <span>•</span>
        <Button></Button>
</div>
</section>