<section>
    <h1>{{translateContent[translateContent.language].whatMyColleaguesSayAboutMe}}</h1>
    <div>
        <div>
            <span>{{translateContent[translateContent.language].colleagueOne}}</span>
            <div>
                <hr>
                <span>{{translateContent[translateContent.language].colleagueOneName}}</span>
            </div>
        </div>
        <div>
            <span>{{translateContent[translateContent.language].colleagueTwo}}</span>
            <div>
                <hr>
                <span>{{translateContent[translateContent.language].colleagueTwoName}}</span>
            </div>
        </div>
        <div>
            <span>{{translateContent[translateContent.language].colleagueThree}}</span>
            <div>
                <hr>
                <span>{{translateContent[translateContent.language].colleagueThreeName}}</span>
            </div>
        </div>
        <aside></aside>
    </div>
    <div>
        <Button></Button>
        <span class="active">•</span>
        <span>•</span>
        <span>•</span>
        <Button></Button>
    </div>
</section>