section{
    overflow: hidden;

    > h1{
        font-size: 32px;
        font-family: "firaCode", sans-serif;
        color: #3DCFB6;
        font-weight: 700;
        text-align: center;
        margin-bottom: 48px;
    }

    > div:nth-of-type(1){
        display: flex;
        gap: 64px;
        margin: 0 -332.5px;
        align-items: center;

        >div{
            display: flex;
            flex-direction: column;
            background-color: #3DCFB61A;
            border-radius: 32px;
            height: 150px;
            padding: 48px 40px;
            border: solid 1px #3DCFB6;
            justify-content: space-between;

            width: 33%; /*---*/

            >span{
                font-family: "karla", sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: #FFFFFFCC;
                width: 46ch;
            }

            >div{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                margin-bottom: -26px;

                >hr{
                    flex: 1;
                    border-color: #FFFFFFCC;
                    border-radius: 32px;
                }

                >span{
                    font-family: "karla", sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    font-size: 18px;
                    color: #FFFFFFCC;
                }
            }
        }

        >div:nth-last-of-type(2){
            background-color: #3DCFB64D;
            position: relative;
            height: 176px;

            >span{
                color: white;
            }

            >div{
                margin-bottom: 0;
                >hr{
                    border-color: white;
                }

                >span{
                    color: white;
                }

            }

            &::before{
                content: "";
                position: absolute;
                top: -10px;
                left: -47px;
                height: 64px;
                background-image: url(/assets/img/quotes.png);
                background-repeat: no-repeat;
                width: 90px;
            }
        }
    }

    >div:nth-of-type(2){
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 20px;
        margin-top: 40px;

        >button{
            background-color: transparent;
            border-color: transparent;
            height: 32px;
            width: 32px;
            cursor: pointer;
            transition: transform 0.1s linear;
            position: relative;

            &::after{
                content: "";
                display: flex;
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }

        >button:nth-of-type(1){
            &::after{
                background-image: url('/assets/img/arrow-back.png');
            }
            
            &:hover{
                &::after{
                    transform: translateX(-4px);
                    background-image: url('/assets/img/arrow-back-hover.png');
                }
            }
        }

        >button:nth-of-type(2){
            &::after{
                background-image: url('/assets/img/arrow-forward.png');
            }

            &:hover{
                &::after{
                    transform: translateX(4px);
                    background-image: url('/assets/img/arrow-forward-hover.png');
                }
            }
        }

        >span{
            color: white;
            font-size: 32px;
            pointer-events: none;
        }
    }
}

.active{
    color: #3DCFB6 !important;
}