section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    > h2{
        font-size: clamp(24px, 2.778vw, 40px);
        font-family: 'firaCode', sans-serif;
        color: #D9D9D9;
        font-weight: 400;
    }

    > h1{
        font-size: clamp(32px, 8.888vw, 128px);
        font-family: 'karla', sans-serif;
        color: #D9D9D9;
        font-weight: 700;
        margin-bottom: 40px;
        margin-top: 12px;
    }
}

.section-links{
    display: flex;
    gap: clamp(24px, 3.333vw, 48px);

    >app-link-button:nth-of-type(1){
        width: 166px;
    }

    >app-link-button:nth-of-type(2){
        width: 137px;
    }
}

.left-object{
    position: absolute;
    left: clamp(16px, 6.667vw, 96px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    > span{
        border: solid 1px;
        border-radius: 100px;
        padding: 14px 10px;
        color: #3DCFB6;

        > img{
            animation: arrow-down-animation 1.75s ease-in-out infinite;
        }
    }

    > div{
        height: clamp(141px, 36.153vw, 240px);
        width: 0px;
        color: #3DCFB6;
        border: solid 1px;
    } 
}

.right-object{
    position: absolute;
    right: clamp(16px, 6.667vw, 96px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    > a{
        text-decoration: none;
        color: white;
        position: relative;
        height: 32px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: center;

        &.mail-link-desktop{
            rotate: calc(-90deg);
            transform:translate3d(10px, -2px, 0);
            text-wrap: nowrap;
            align-content: center;
            font-family: 'karla', sans-serif;

            &:hover{
                color: #3DCFB6;
            }
        }

        &.mail-link-mobile{
            background-image: url('./../../../assets/img/mail-icon.png');
            
            &:hover{
                background-image: url('./../../../assets/img/mail-hover-icon.png');

                &::after{
                    content: '•';
                    position: absolute;
                    right: -14px;
                    color: #6ad7bf;
                    font-size: 28px;
                }
            }
        }

        &:nth-of-type(2){
            background-image: url('./../../../assets/img/github-icon.png');
            
            &:hover{
                background-image: url('./../../../assets/img/github-hover-icon.png');

                &::after{
                    content: '•';
                    position: absolute;
                    right: -14px;
                    color: #6ad7bf;
                    font-size: 28px;
                }
            }
        }

        &:nth-of-type(3){
            background-image: url('./../../../assets/img/linkedIn-icon.png');
            
            &:hover{
                background-image: url('./../../../assets/img/linkedIn-hover-icon.png');
                
                &::after{
                    content: '•';
                    position: absolute;
                    right: -14px;
                    color: #6ad7bf;
                    font-size: 28px;
                }
            }
        }
    }

    >div{
        width: 0px;
        height: clamp(72px, 29.034vw, 184px);
        border: solid 1px;
        color: white;
    }
}

@keyframes arrow-down-animation{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(12px);
    }
    
    100%{
        transform: translateY(0px);
    }
}

@keyframes darken-color{
    100%{
        color: #3DCFB6;
    }
}

@media (max-width: 350px) {
    .section-links{
        gap: 0;
    }
}