<section>
    <div class="profile-div" [class.moved]="hovered" (mouseenter)="hovered = true">
        <img src="" alt="">
        <div></div>
    </div>
    <div class="about-me-div">
        <div>
            <span>Who I am</span>
            <div>
                <h1>About me</h1>
                <div>
                    <span>Hey there, I'm Leonard! ...</span>
                    <div>
                        <div>
                            <img src="assets/img/location_on.png" alt="icon">
                            <span>My based are in the Allgaeu<br>I'm open for working remotely</span>
                        </div>
        
                        <div>
                            <img src="assets/img/cognition.png" alt="icon">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur totam tempore beatae in deleniti! Amet error reiciendis laborum officia optio, sint praesentium dolorum, illum eligendi accusamus laudantium, voluptatum porro repellendus.</span>
                        </div>
        
                        <div>
                            <img src="assets/img/new_releases.png" alt="icon">
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, mollitia? Voluptate dolorum, corporis quis fuga voluptatem inventore ut ducimus unde nesciunt? Harum excepturi obcaecati reiciendis sint doloremque, dolore corporis quas!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
