section{
    padding: 128px 104px;
    display: flex;
    justify-content: space-between;
    gap: 95px;
}

.profile-div{
    display: flex;
    
    >div, >img{
        height: 568px;
        width: 568px;
        border-radius: 24px;
    }
    
    >div{
        position: absolute;
        background-image: url('../../../assets/img/background-profile-picture.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    img{
        background-color: black;
        z-index: 1;
    }
    
    &.moved >div{
        transition: transform .2s;
        transform: translate(-46px, 30px);
    }
}


.about-me-div{
    display: flex;

    >div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 98px;
    }

    >div >span{
        font-family: 'karla', sans-serif;
        font-weight: 400;
        font-style: medium;
        font-size: 24px;
        color: #3DCFB6;
    }

    >div >div{
        background-color: #3DCFB61A;
        border-radius: 30px;
        border: 1px solid #3DCFB6;
        padding: 32px;

        gap: 40px;
        display: flex;
        flex-direction: column;

        >h1{
            font-family: 'firaCode', sans-serif;
            font-weight: 700;
            font-size: 64px;
            color: #3DCFB6;
        }

        >div >span{
            font-family: 'karla', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: white;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 32px;

            >div{
                display: flex;
                flex-direction: column;
                gap: 16px;
                
                >div {
                    display: flex;
                    align-items: flex-start;
                    gap: 24px;

                    >span{
                        color: #FFFFFFCC;
                        font-weight: 400;
                        font-size: 18px;
                        font-family: "karla", sans-serif;

                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
