section{
    padding: clamp(100px, 8.889vw, 128px) clamp(16px, 7.222vw, 104px);
    display: flex;
    justify-content: space-between;
    gap: clamp(40px, 6.597vw, 95px);
    max-width: 1440px;
    justify-self: center;
    box-sizing: border-box
}

.profile-div{
    display: flex;
    
    >div, >figure{
        height: clamp(358px, 39.444vw, 568px);
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 24px;
    }
    
    >div{
        position: absolute;
        background-image: url('../../../assets/img/background-profile-picture.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    >figure{
        position: relative;
        overflow: hidden;
        font-family: 'Segoe UI', sans-serif;
        background: #0a0f1f;
        color: #fff;
        z-index: 1;
    }
    
    &.moved >div{
        transition: transform .2s;
        transform: translate(-8.1%, 5.23%);
    }
}


.about-me-div{
    display: flex;

    >div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 98px;
    }

    >div >span{
        font-family: 'karla', sans-serif;
        font-weight: 400;
        font-size: clamp(18px, 1.667vw, 24px);
        color: #3DCFB6;
    }

    >div >div{
        background-color: #3DCFB61A;
        border-radius: 30px;
        border: 1px solid #3DCFB6;
        padding: 32px;

        gap: 40px;
        display: flex;
        flex-direction: column;

        >h1{
            font-family: 'firaCode', sans-serif;
            font-weight: 700;
            font-size: clamp(40px, 4.444vw, 64px);
            color: #3DCFB6;
        }

        >div >span{
            font-family: 'karla', sans-serif;
            font-weight: 400;
            font-size: clamp(16px, 1.25vw, 18px);
            color: white;
        }

        >div {
            display: flex;
            flex-direction: column;
            gap: 32px;

            >div{
                display: flex;
                flex-direction: column;
                gap: 16px;
                
                >div {
                    display: flex;
                    align-items: flex-start;
                    gap: 24px;

                    >span{
                        color: #FFFFFFCC;
                        font-weight: 400;
                        font-size: clamp(16px, 1.25vw, 18px);
                        font-family: "karla", sans-serif;

                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 999px) {
    section{
        flex-direction: column;
    }

    .about-me-div >div{
        margin-top: 0px;
    }

    .profile-div{
        &.moved >div{
            transform: translate(-7%, 7%);
        }

        >div{
            width: 85%;
            height: auto;
        }
        
        >figure{
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 345px) {
    .about-me-div >div >div{
        padding: 20px;
    }
}