<section (mouseover)="onHover()" (mouseleave)="onLeave()">
    <img src="assets/img/growth-mindset.png" alt="">
    <span>{{translateContent[translateContent.language].growthMindset}}</span>

    <div #infoBox [ngStyle]="{'width': translateContent.select == 'DE' ? '163px' : ''}">
        <span>{{translateContent[translateContent.language].hoverWindowFirstContent}}</span>
        <span>{{translateContent[translateContent.language].hoverWindowSecondContent}}</span>
        <span>{{translateContent[translateContent.language].learningOne}}</span>
    </div>
    <div></div>
</section>