section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 104px;
    height: 116px;
    cursor: pointer;

    >img{
        height: 64px;
    }

    >span{
        color: white;
        width: 1ch;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: "firaCode", sans-serif;
    }

    &:hover{
        >span{
           color: #3DCFB6;
        }
        
        >div{
            visibility: visible !important;
        }
    }


    >div{
        visibility: hidden;
        pointer-events: none;
        background-color: white;
        position: absolute;

        &:nth-of-type(1){
            width: 150px;
            border-radius: 16px;
    
            padding: 12px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            bottom: 104px;
            z-index: 1;
    
            >span{
                color: #3DCFB6;
    
                &:nth-of-type(3){
                    margin-top: 8px;
                    color: #007d67;
                }
    
                &:nth-of-type(4), &:nth-of-type(5){
                    color: #007d67;
                }
            }
        }

        &:nth-of-type(2){
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            border-radius: 4px;
        }
    } 
}

@media (max-width:1110px) {
    section {
        width: 93px;
        height: 110px;

        >span{
            font-size: clamp(16px, 1.621vw, 18px);
        }


        >div:nth-of-type(1){
            bottom: 96px;
        }
    }
    
}

@media (max-width:389px) {
    section {
        width: 75px;

        >img{
            height: 56px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }

        >span{
            font-size: 13px;;
        }
    }
}