section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 104px;
    height: 116px;

    >img{
        height: 64px;
    }

    >span{
        color: white;
        width: 1ch;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: "firaCode", sans-serif;
    }

    &:hover{
        >span{
           color: #3DCFB6;
        }
        
        >div{
            visibility: visible;
        }
    }

    >div{
        position: absolute;
        top: -108px;
        left: 18px;
        visibility: hidden;
        pointer-events: none;

        >div:nth-of-type(1){
            width: 150px;
            background-color: white;
            border-radius: 16px;

            padding: 12px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            >span{
                color: #3DCFB6;

                &:nth-of-type(3){
                    margin-top: 8px;
                    color: #007d67;
                }

                &:nth-of-type(4), &:nth-of-type(5){
                    color: #007d67;
                }
            }

            // >div{
            //     display: flex;
            //     gap: 12px;
            //     margin-top: 12px;

            //     >div{
            //         display: flex;
            //         flex-direction: column;
            //         gap: 4px;
            //         align-items: center;

            //         >img{
            //             height: 33px;
            //         }

            //         >span{
            //             font-size: 12px;
            //             color: #3DCFB6;
            //         }
            //     }
            // }
        }

        >div:nth-of-type(2){
            width: 20px;
            background-color: white;
            height: 20px;
            transform: rotate(45deg);
            position: absolute;
            bottom: -7px;
            left: 24px;
            border-radius: 4px;
        }
    }
}