<section>
    <div>
        <button></button>
        <div>
            <h1>{{translateContent[translateContent.language].projectOne.projectNumber}}</h1>
            <h2>{{translateContent[translateContent.language].projectOne.projectName}}</h2>
            <h3>{{translateContent[translateContent.language].portfolioOverlayQuestion}}</h3>
            <span>{{translateContent[translateContent.language].projectOne.projectDescription}}</span>
            <div>
                <div>
                    <img src={{translateContent[translateContent.language].projectOne.projectTechnologies.html.icon}} alt="">
                    <span>{{translateContent[translateContent.language].projectOne.projectTechnologies.html.name}}</span>
                </div>
                <div>
                    <img src={{translateContent[translateContent.language].projectOne.projectTechnologies.css.icon}} alt="">
                    <span>{{translateContent[translateContent.language].projectOne.projectTechnologies.css.name}}</span>
                </div>
                <div>
                    <img src={{translateContent[translateContent.language].projectOne.projectTechnologies.javascript.icon}} alt="">
                    <span>{{translateContent[translateContent.language].projectOne.projectTechnologies.javascript.name}}</span>
                </div>
                <div>
                    <img src={{translateContent[translateContent.language].projectOne.projectTechnologies.firebase.icon}} alt="">
                    <span>{{translateContent[translateContent.language].projectOne.projectTechnologies.firebase.name}}</span>
                </div>
            </div>
            <div>
                <a><span>GitHub</span></a>
                <a><span>Live Test</span></a>
            </div>
        </div>
        <img src={{translateContent[translateContent.language].projectOne.projectImg}} alt="">
        <button><span>{{translateContent[translateContent.language].portfolioOverlayNextProject}}</span></button>
    </div>
</section>