<section>
    <div>
        <button></button>
        <div>
            <h1>01</h1>
            <h2>Join</h2>
            <h3>What is this project about?</h3>
            <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
            <div>
                <div>
                    <img src="/assets/img/css-hover.png" alt="">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="/assets/img/html-hover.png" alt="">
                    <span>HTML</span>
                </div>
                <div>
                    <img src="/assets/img/firebase-hover.png" alt="">
                    <span>Firebase</span>
                </div>
                <div>
                    <img src="/assets/img/angular-hover.png" alt="">
                    <span>Angular</span>
                </div>
                <div>
                    <img src="/assets/img/typescript-hover.png" alt="">
                    <span>TypeScript</span>
                </div>
            </div>
            <div>
                <a><span>GitHub</span></a>
                <a><span>Live Test</span></a>
            </div>
        </div>
        <img src="/assets/img/placeholder.png" alt="">
        <button><span>Next project</span></button>
    </div>
</section>