section{
    padding: 104px;
    background-color: rgb(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;

    >div{
        background-image: url('/assets/img/hero-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 64px;
        gap: 80px;

        >button:nth-of-type(1){
            background-color: transparent;
            border: none;
            background-image: url('/assets/img/close_small.png');
            height: 26px;
            width: 26px;
            background-repeat: no-repeat;
            position: absolute;
            top: 56px;
            right: 72px;
            cursor: pointer;
            background-position: center;
            margin: 0;
            padding: 0;

            &:hover{
                background-image: url('/assets/img/close.png');
            }
        }

        >div{
            display: flex;
            flex-direction: column;

            >h1{
                font-size: 128px;
                font-family: "karla", sans-serif;
                font-weight: 700;
                color: #3DCFB6;
            }

            >h2{
                font-size: 64px;
                font-family: "firaCode", sans-serif;
                font-weight: 700;
                color: white;
                margin-bottom: 30px;
                margin-top: -12px;
            }

            >h3{
                font-size: 24px;
                font-family: "firaCode", sans-serif;
                font-weight: 700;
                color: #3DCFB6;
            }

            >span{
                font-size: 18px;
                font-family: "karla", sans-serif;
                color: white;
                font-weight: 300;
                width: 45ch;
                margin-top: 20px;
                margin-bottom: 32px;
            }

            >div:nth-of-type(1){
                display: flex;
                gap: 16px;

                >div{
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    >span{
                        font-size: 16px;
                        font-family: "karla", sans-serif;
                        color: white;
                        font-weight: 400;
                    }
                }
            }

            >div:nth-of-type(2){
                margin-top: 40px;
                display: flex;
                gap: 32px;

                >a{
                    text-decoration: none;
                    border-radius: 25px;
                    border: solid 1px white;
                    padding: 12px 24px;
                    
                    cursor: pointer;
                    
                    >span{
                        font-size: 18px;
                        font-family: "karla", sans-serif;
                        font-weight: 400;
                        color: white;
                        position: relative;
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        &::after{
                            content: "";
                            background-image: url('/assets/img/arrow_outward-hover.png');
                            height: 11px;
                            width: 11px;
                            background-size: cover;
                            transition: transform .1s linear;
                        }
                    }

                    &:hover{
                        border-color: #3DCFB6;

                        >span{
                            color: #3DCFB6;

                            &::after{
                                transform: translate(3px, -3px);
                            }
                        }
                    }
                }
            }
        }

        >img{
            width: 500px;
            height: 350px;
            border-radius: 30px;
            object-fit: cover;
        }

        >button{
            border: none;
            background-color: transparent;
            position: absolute;
            bottom: 64px;
            right: 64px;
            cursor: pointer;

            >span{
                font-size: 18px;
                font-family: "karla", sans-serif;
                color: #3DCFB6;
                font-weight: 400;
                position: relative;
                display: flex;
                align-items: center;
                gap: 16px;

                &::after{
                    content: "";
                    background-image: url('/assets/img/arrow-forward-hover.png');
                    height: 18px;
                    width: 18px;
                    background-size: cover;
                    transition: transform .1s linear;
                }
            }

            &:hover{
                >span{
                    color: white;

                    &::after{
                        transform: translateX(4px) scale(1.06);
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}