<div class="over-section">
    <section class="desktop-section">
        <div class="left-side">
            <a class="logo-name-a" routerLink="" (click)="shared.setSectionHandover(0);"></a>
            <span>{{translateContent[translateContent.language].footerOne}}</span>
            <span>{{translateContent[translateContent.language].footerTwo}}</span>
        </div>
    
        <span>© Leonard Fritzmann 2026</span>
    
        <div class="right-div">
            <a target="_blank" href="https://github.com/MyCodeLeonard">Github</a>
            <a target="_blank" href="https://de.linkedin.com/in/leonard-fritzmann-302269352">LinkedIn</a>
            <a target="_blank" href="mailto:contact@leonard-fritzmann.com">Email</a>
            <a routerLink="/legal-notice">{{translateContent[translateContent.language].footerThree}}</a>
        </div>
    </section>
</div>