<section id="contact">
    <div>
        <h2>Contact me</h2>
        <h1>Let's work together</h1>
        <h3>Got a problem to solve?</h3>
        <span>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</span> 
        <p>
            <span>Need a Frontend developer? </span>
            <span>Let’s talk!</span>
        </p>
    </div>
    <div>
        <hr #hr1>
        <div (click)="setFocus(inputName)" (mouseenter)="highlight(hr1, hr2)" (mouseleave)="reset(hr1, hr2)">
            <h4>What's your name?</h4>
            <input #inputName type="text" placeholder="Your name goes here">
        </div>
        <hr #hr2>
        <div (click)="setFocus(inputMail)" (mouseenter)="highlight(hr2, hr3)" (mouseleave)="reset(hr2, hr3)">
            <h4>What's your email?</h4>
            <input #inputMail type="text" placeholder="youremail@email.com">
        </div>
        <hr #hr3>
        <div (click)="setFocus(inputMessage)" (mouseenter)="highlight(hr3, hr4)" (mouseleave)="reset(hr3, hr4)">
            <h4>How can I help you?</h4>
            <input #inputMessage type="text" placeholder="Hello Leonard, I am interested in ...">
        </div>
        <hr #hr4>

        <div>
            <div>
                <input type="checkbox" name="" id="privacy-policy">
                <label for="privacy-policy"></label>
                <div></div>
                <span>I've read the <a target="_blank" href="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</span>
            </div>
            <span>Please accept the privacy policy.</span>
        </div>
        <app-click-button [content] = "'Say Hello ;)'"></app-click-button>
    </div>
</section>