<section id="contact">
    <div>
        <h2>{{translateContent[translateContent.language].contactMe}}</h2>
        <h1>{{translateContent[translateContent.language].letsWorkTogether}}</h1>
        <h3>{{translateContent[translateContent.language].gotAProblemToSolve}}</h3>
        <span>{{translateContent[translateContent.language].contactMeFirstContent}}</span> 
        <p>
            <span>{{translateContent[translateContent.language].contactMeSecondOneContent}} </span>
            <span>{{translateContent[translateContent.language].contactMeSecondTwoContent}}</span>
        </p>
    </div>
    <div>
        <hr #hr1>
        <div (click)="setFocus(inputName)" (mouseenter)="highlight(hr1, hr2)" (mouseleave)="reset(hr1, hr2)">
            <h4>{{translateContent[translateContent.language].whatsYourName}}</h4>
            <input #inputName type="text" placeholder={{translateContent[translateContent.language].placeholderName}}>
        </div>
        <hr #hr2>
        <div (click)="setFocus(inputMail)" (mouseenter)="highlight(hr2, hr3)" (mouseleave)="reset(hr2, hr3)">
            <h4>{{translateContent[translateContent.language].whatsYourEmail}}</h4>
            <input #inputMail type="text" placeholder={{translateContent[translateContent.language].placeholderEmail}}>
        </div>
        <hr #hr3>
        <div (click)="setFocus(inputMessage)" (mouseenter)="highlight(hr3, hr4)" (mouseleave)="reset(hr3, hr4)">
            <h4>{{translateContent[translateContent.language].howCanIHelpyou}}</h4>
            <input #inputMessage type="text" placeholder={{translateContent[translateContent.language].placeholderHelpyou}}>
        </div>
        <hr #hr4>

        <div>
            <div>
                <input type="checkbox" name="" id="privacy-policy">
                <label for="privacy-policy"></label>
                <div></div>
                <span>{{translateContent[translateContent.language].privacyPolicyPartOne}} <a target="_blank" href="privacy-policy">{{translateContent[translateContent.language].privacyPolicyPartTwo}}</a> {{translateContent[translateContent.language].privacyPolicyPartThree}}</span>
            </div>
            <span>{{translateContent[translateContent.language].privacyPolicyError}}</span>
        </div>
        <app-click-button [ngStyle]="{'width': translateContent.select == 'DE' ? '134px' : ''}" [content] = translateContent[translateContent.language].formButton></app-click-button>
    </div>
</section>