<section>
    <div>
        <h2>Contact me</h2>
        <h1>Let's work together</h1>
        <h3>Got a problem to solve?</h3>
        <span>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work.</span> 
        <p>
            <span>Need a Frontend developer? </span>
            <span>Let’s talk!</span>
        </p>
    </div>
    <div>
        <hr>
        <div>
            <h4>What's your name?</h4>
            <input type="text" placeholder="Your name goes here">
        </div>
        <hr>
        <div>
            <h4>What's your email?</h4>
            <input type="text" placeholder="youremail@email.com">
        </div>
        <hr>
        <div>
            <h4>How can I help you?</h4>
            <input type="text" placeholder="Hello Leonard, I am interested in ...">
        </div>
        <hr>

        <div>
            <input type="checkbox" name="" id="privacy-policy">
            <label for="privacy-policy">I've read the <a target="_blank" href="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</label>
            <span>Please accept the privacy policy.</span>
        </div>
        <app-click-button [content] = "'Say Hello ;)'" (click)="test()"></app-click-button>
    </div>
</section>