<section class="mobile-section">
    <div>
        <div class="left-side">
            <a (click)="closeTab()" class="logo-name-a" href=""></a>
            <span>{{translateContent[translateContent.language].footerOne}}</span>
            <span>{{translateContent[translateContent.language].footerTwo}}</span>
        </div>
    
        <div class="right-div">
            <a target="_blank" href="">Github</a>
            <a target="_blank" href="">LinkedIn</a>
            <a target="_blank" href="">Email</a>
            <a (click)="openPrivacyPolicy()">{{translateContent[translateContent.language].footerThree}}</a>
        </div>
    </div>
    <span>© Leonard Fritzmann 2026</span>
</section>