.mobile-section{
    display: none;
    flex-direction: column;
    padding: 0px 16px;

    >div {
        display: flex;
        justify-content: space-between;
    }

    >span{
        font-family: 'firaCode', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #3DCFB6;
        text-align: center;
        margin: 32px 0 20px;
    }
}

.logo-name-a{
    background-image: url('./../../../assets/img/logo_name.png');
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover{
        background-image: url('./../../../assets/img/logo_name-hover.png');
    }
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 8px;

    >span{
        font-family: 'karla', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: white;
    }
}

.right-div{
    display: flex;
    flex-direction: column;
    gap: 8px;

    >a{
        font-family: 'karla', sans-serif;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: white;
        position: relative;
        cursor: pointer;

        &:hover{
            color: #3DCFB6;
            transition: color .2s linear;

            &::before{
                content: '•';
                position: absolute;
                color: #3DCFB6;
                font-size: 28px;
                top: -48%;
                left: -16px;
            }
        }
    }
}

@media (max-width: 799px) {
    .mobile-section{
        display: flex;
    }
}