section{
    padding: 104px;
    background-color: rgb(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;

    >div{
        background-image: url('./../../../../assets/img/hero-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        padding: 64px;
        gap: 80px;

        >button:nth-of-type(1){
            background-color: transparent;
            border: none;
            background-image: url('./../../../../assets/img/close_small.png');
            height: 26px;
            width: 26px;
            background-repeat: no-repeat;
            position: absolute;
            top: 56px;
            right: 72px;
            cursor: pointer;
            background-position: center;
            margin: 0;
            padding: 0;

            &:hover{
                background-image: url('./../../../../assets/img/close.png');
            }
        }

        >div{
            display: flex;
            flex-direction: column;
            width: 500px;

            >h1{
                font-size: 128px;
                font-family: "karla", sans-serif;
                font-weight: 700;
                color: #3DCFB6;
            }

            >h2{
                font-size: 64px;
                font-family: "firaCode", sans-serif;
                font-weight: 700;
                color: white;
                margin-bottom: 30px;
                margin-top: -12px;
            }

            >h3{
                font-size: 24px;
                font-family: "firaCode", sans-serif;
                font-weight: 700;
                color: #3DCFB6;
            }

            >span{
                font-size: 18px;
                font-family: "karla", sans-serif;
                color: white;
                font-weight: 300;
                width: 45ch;
                margin-top: 20px;
                margin-bottom: 32px;
                height: 88px;
            }

            >div:nth-of-type(1){
                display: flex;
                gap: 4px 16px;

                >div{
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    >span{
                        font-size: 16px;
                        font-family: "karla", sans-serif;
                        color: white;
                        font-weight: 400;
                    }
                }
            }

            >div:nth-of-type(2){
                margin-top: 40px;
                display: flex;
                gap: 32px;

                >a{
                    text-decoration: none;
                    border-radius: 25px;
                    border: solid 1px white;
                    padding: 12px 24px;
                    
                    cursor: pointer;
                    
                    >span{
                        font-size: 18px;
                        font-family: "karla", sans-serif;
                        font-weight: 400;
                        color: white;
                        position: relative;
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        &::after{
                            content: "";
                            background-image: url('./../../../../assets/img/arrow_outward-hover.png');
                            height: 11px;
                            width: 11px;
                            background-size: cover;
                            transition: transform .1s linear;
                        }
                    }

                    &:hover{
                        border-color: #3DCFB6;

                        >span{
                            color: #3DCFB6;

                            &::after{
                                transform: translate(3px, -3px);
                            }
                        }
                    }
                }
            }
        }

        >img{
            width: 500px;
            height: 350px;
            border-radius: 30px;
            object-fit: cover;
        }

        >button{
            border: none;
            background-color: transparent;
            position: absolute;
            bottom: 64px;
            right: 64px;
            cursor: pointer;

            >span{
                font-size: 18px;
                font-family: "karla", sans-serif;
                color: #3DCFB6;
                font-weight: 400;
                position: relative;
                display: flex;
                align-items: center;
                gap: 16px;

                &::after{
                    content: "";
                    background-image: url('./../../../../assets/img/arrow-forward-hover.png');
                    height: 18px;
                    width: 18px;
                    background-size: cover;
                    transition: transform .1s linear;
                }
            }

            &:hover{
                >span{
                    color: white;

                    &::after{
                        transform: translateX(4px) scale(1.06);
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
}

@media (max-width: 1239px) {
    section {
        padding: 0;

        >div{
            flex-direction: column-reverse;
            gap: 0;
            justify-content: center;
            max-width: 725px;
            padding: 40px 16px;

            >button{
                &:nth-of-type(1){
                    top: 12px;
                    right: 32px;
                }
                
                &:nth-of-type(2){
                    bottom: 12px;
                    right: 32px;
                }
            }
            >img{
                width: 55%;
                height: auto;
                aspect-ratio: 16 / 9;
                min-width: 271px;
            }
            >div {
                width: 424px;

                >h1{
                    font-size: clamp(72px, 10.331vw, 128px);
                }
                >h2{
                    font-size: clamp(56px, 5.165vw, 64px);
                    text-wrap-mode: nowrap;
                }
                >h3{
                    font-size: clamp(20px, 1.937vw, 24px);
                }
                >span{
                    font-size: clamp(16px, 1.453vw, 18px);
                    height: 76px;
                }
                >div{
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    section >div >div >h2{
        font-size: clamp(40px, 5.165vw, 64px);
    }
}

@media (max-width: 460px) {
    section >div >div{
        width: auto;

        >h2{
            font-size: clamp(40px, 5.165vw, 64px);
        }
        >span{
            width: auto;
        }
    }
}

@media (max-width: 410px) {
    section >div >div >div:nth-of-type(1){
        height: 64px;
        width: 271px;
        align-items: flex-start;
    }
}

@media (max-width:375px) {
    section {

        >div{
            padding: 58px 16px;

            >button:nth-of-type(2){
                margin-top: 0px;
            }
            >div {
                >h1{
                    font-size: clamp(48px, 10.331vw, 128px);
                }
                >h2{
                    font-size: clamp(40px, 5.165vw, 64px);
                    margin: 0px;
                }
                >h3{
                    font-size: clamp(17px, 1.937vw, 24px);
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
                span{
                    margin: 0px;
                }
                >div{
                    &:nth-of-type(1){
                        margin-top: 32px !important;
                    }

                    &:nth-of-type(2){
                        margin-top: 38px !important;
                    }
                }
            }
        }
    }
}

@media (max-width:360px) {
    section >div >div {
        >h1{
            font-size: 40px;
        }
        >h2{
            font-size: 32px;
        }
    }
}

@media (max-width:350px) {
    section > div >div >div:nth-of-type(2){
        gap: 16px;
    }
}

@media (width: 375px) and (height: 667px) {
    section >div {
        padding: 54px 16px;
    }
}

@media (width: 1024px) and (height: 600px) {
    section >div{
        max-width: none;
        flex-direction: row;

        >div{
            width: 500px;
        }
    }
}