<section id="skills">
    <span>{{translateContent[translateContent.language].technologies}}</span>
    <div>
        <div>
            <h1>{{translateContent[translateContent.language].skillSet}}</h1>
            <span>{{translateContent[translateContent.language].skillSetMeFirstContent}}</span>
            <h2>{{translateContent[translateContent.language].skillSetMeSecondOneContent}} <span>{{translateContent[translateContent.language].skillSetMeSecondTwoContent}}</span></h2>
            <span>{{translateContent[translateContent.language].skillSetMeThirdContent}}</span>
            <app-link-button [ngStyle]="{'width': translateContent.select == 'DE' ? '164px' : ''}" [content] = translateContent[translateContent.language].buttonLetsTalk [contentId]="'contact'"></app-link-button>
        </div>

        <div>
            <div>
                <span (click)="selectedFrontend();" [ngStyle]="{'color': isActiveFrontend ? '#ffffff' : '#ffffff1c'}">Frontend <app-hamburger-button-v2 [isActive]="isActiveFrontend"></app-hamburger-button-v2></span>
                <span (click)="selectedBackend();" [ngStyle]="{'color': isActiveBackend ? '#ffffff' : '#ffffff1c'}">Backend <app-hamburger-button-v2 [isActive]="isActiveBackend"></app-hamburger-button-v2></span>
                <span (click)="selectedDevSecOps();" [ngStyle]="{'color': isActiveDevSecOps ? '#ffffff' : '#ffffff1c'}">DevSecOps <app-hamburger-button-v2 [isActive]="isActiveDevSecOps"></app-hamburger-button-v2></span>
            </div>
            <div [ngStyle]="{'display': isActiveFrontend ? '' : 'none'}">
                <app-skill-set-icon [skillUrl]="'assets/img/html.png'" [skilName]="'HTML'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/css.png'" [skilName]="'CSS'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/javascript.png'" [skilName]="'JavaScript'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/material-design.png'" [skilName]="'Material'" [skilName2]="'Design'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/typescript.png'" [skilName]="'TypeScript'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/angular.png'" [skilName]="'Angular'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/firebase.png'" [skilName]="'Firebase'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/git.png'" [skilName]="'Git'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/api.png'" [skilName]="'REST-API'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/scrum.png'" [skilName]="'Scrum'"></app-skill-set-icon>
                <app-special-icon></app-special-icon>
            </div>
            <div [ngStyle]="{'display': isActiveBackend? '' : 'none'}">
                <app-skill-set-icon [skillUrl]="'assets/img/python.png'" [skilName]="'Python'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/django.png'" [skilName]="'Django'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/linux.png'" [skilName]="'Linux'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/redis.png'" [skilName]="'Redis'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/flask.png'" [skilName]="'Flask'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/postgre-sql.png'" [skilName]="'PostgreSQL'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/heroku.png'" [skilName]="'Heroku'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/sql.png'" [skilName]="'SQL'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/docker.png'" [skilName]="'Docker'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/cloud.png'" [skilName]="'Cloud'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/rxjs.png'" [skilName]="'RxJS'"></app-skill-set-icon>
                <app-special-icon></app-special-icon>
            </div>
            <div [ngStyle]="{'display': isActiveDevSecOps? '' : 'none'}">
                <app-skill-set-icon [skillUrl]="'assets/img/shell-scripting.png'" [skilName]="'shell-'" [skilName2]="'scripting'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/yaml.png'" [skilName]="'yaml'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/drf.png'" [skilName]="'drf'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/ci-cd.png'" [skilName]="'ci-cd'"></app-skill-set-icon>
                <app-skill-set-icon [skillUrl]="'assets/img/s2.png'" [skilName]="'s2'"></app-skill-set-icon>
                <app-special-icon></app-special-icon>
            </div>
        </div>
    </div>
</section>