section{
    padding: 128px 104px;
    display: flex;
    flex-direction: column;
    background-image: url('/assets/img/skills-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    >span{
        font-family: 'karla', sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6;
    }
    
    >div{
        display: flex;
        margin-top: 20px;
        gap: 72px;
        align-items: flex-start;

        >div{

            &:nth-of-type(1){
                display: flex;
                flex-direction: column;
                gap: 20px;
                background-color: #3DCFB61A;
                border-radius: 30px;
                border: 1px solid #3DCFB6;
                padding: 34.5px;
                width: 1852.7px;
                
                >h1{
                    font-family: 'firaCode', sans-serif;
                    font-weight: 700;
                    font-size: 64px;
                    color: #3DCFB6;
                    margin-bottom: 16px;
                }
    
                >span{
                    font-family: 'karla', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    color: white;
                    text-align: justify;
    
                    &:nth-of-type(1){
                        min-height: 132px;
                    }
    
                    &:nth-of-type(2){
                        font-size: 16px;
                        max-width: 32ch;
                        margin-bottom: 16px;
                    }
                }
    
                >h2{
                    font-family: 'firaCode', sans-serif;
                    color: white;
                    margin-top: 8px;
                    font-size: 24px;
                    
                    >span{
                        color: #3DCFB6;
                    }
                }
    
                > app-link-button{
                    width: 116px;
                }
            }

            &:nth-of-type(2){
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                width: 228.7%;
    
                >div{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 58px;
                    &:nth-of-type(1){
                        gap: 12px 48px;
                    }
                }
    
                span{
                    font-family: "karla", sans-serif;
                    font-weight:700;
                    font-size: 20px;
                    position: relative;
                    display: flex;
                    gap: 8px;
                    cursor: pointer;
    
                    &:nth-of-type(1){
                        margin-left: 0;
                    }
                }
            }
        }
    }
}