<section id="skills">
    <span>Technologies</span>
    <div>
        <div>
            <h1>Skill Set</h1>
            <span>A short introduction of your skills. Highlight your experience of using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</span>
            <h2>You need <span>another skill?</span></h2>
            <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
            <app-link-button [content] = "LetsTalk" [contentId]="'contact'"></app-link-button>
        </div>

        <div>
            <app-skill-set-icon [skillUrl]="'assets/img/html.png'" [skilName]="'HTML'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/css.png'" [skilName]="'CSS'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/javascript.png'" [skilName]="'JavaScript'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/material-design.png'" [skilName]="'Material'" [skilName2]="'Design'"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/typescript.png'" [skilName]="'TypeScript'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/angular.png'" [skilName]="'Angular'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/firebase.png'" [skilName]="'Firebase'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/git.png'" [skilName]="'Git'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/api.png'" [skilName]="'REST-API'" [skilName2]="' '"></app-skill-set-icon>
            <app-skill-set-icon [skillUrl]="'assets/img/scrum.png'" [skilName]="'Scrum'" [skilName2]="' '"></app-skill-set-icon>
            <app-special-icon></app-special-icon>
        </div>
    </div>
</section>