<section>
    <h2>Portfolio</h2>
    <h1>Featured Projects</h1>
    <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
    <div>
        <hr>
        <div>
            <h3>Join</h3>
            <div>Angular <span>|</span> TypeScript <span>|</span> HTML <span>|</span> CSS <span>|</span> Firebase</div>
            <div [ngStyle]="{top: '-12' + 'px'}">
                <img src="assets/img/placeholder.png" alt="">
            </div>
        </div>
        <hr>
        <div>
            <h3>El Pollo Loco</h3>
            <div>HTML <span>|</span> CSS <span>|</span> JavaScript</div>
            <div [ngStyle]="{top: '-32' + 'px'}">
                <img src="assets/img/el-pollo-loco.png" alt="">
            </div>
        </div>
        <hr>
        <div>
            <h3>DA Bubble</h3>
            <div>Angular <span>|</span> Firebase <span>|</span> TypeScript</div>
            <div [ngStyle]="{top: '-64' + 'px'}">
                <img src="assets/img/placeholder.png" alt="">
            </div>
        </div>
        <hr>
    </div>
</section>