.active{
    background-color: #3DCFB6 !important;
}

section{
    cursor: pointer;
    display: flex;
    width: 32px;
    flex-direction: column;
    gap: 8px;
    margin-right: 16px;

    &:hover {
        >div{
            background-color: #3DCFB6;
        }
    }

    >div{
        background-color: #ffffff;
        height: 2px;
    }
}
