.over-section{
    display: flex;
    justify-content: center;
}

section{
    padding: clamp(100px, 8.889vw, 128px) clamp(16px, 7.222vw, 104px);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    overflow: hidden;

    >h2{
        font-family: "karla", sans-serif;
        font-weight: 700;
        font-size: clamp(18px, 1.667vw, 24px);
        color: #3DCFB6;
    }

    >h1{
        font-family: "firaCode", sans-serif;
        font-weight: 700;
        font-size: clamp(54px, 4.444vw, 64px);
        color: #3DCFB6;
        padding: clamp(16px, 1.389vw, 20px) 0;
    }

    >span{
        font-family: "karla", sans-serif;
        font-weight: 400;
        font-size: clamp(16px, 1.25vw, 18px);
        color: white;
        text-align: justify;
        width: 40ch;
        padding: 16px 0 clamp(40px, 2.778vw, 41px);
    }

    >div{
        width: 68%;

        >hr{
            border-color: #3DCFB6
        }

        >div{
            display: flex;
            justify-content: space-between;
            padding: 40px 32px;
            position: relative;
            cursor: pointer;
            gap: 8px 32px;
            flex-wrap: wrap;

            h3{
                position: relative;
                font-family: "firaCode", sans-serif;
                font-weight: 700;
                font-size: 24px;
                color: white;
            }

            >div:nth-of-type(1){
                font-family: "karla", sans-serif;
                font-weight: 400;
                font-size: clamp(16px, 1.25vw, 18px);
                color: white;
                display: flex;
                gap: 4px;

                >span{
                    color: #3DCFB6;
                }
            }

            >div:nth-of-type(2){
                width: 300px;
                height: 188px;
                background-image: url('./../../../assets/img/background-project-picture.png');
                position: absolute;
                right: -380px;
                border-radius: 16px;
                background-repeat: no-repeat;
                background-size: cover;
                visibility: hidden;

                >img{
                    width: 100%;
                    height: 169px;
                    position: absolute;
                    left: -20px;
                    border-radius: 16px;
                }
            }

            &:hover{
                background-color: #3dcfb633;

                >h3::after{
                    content: "";
                    background-image: url('./../../../assets/img/arrow_outward.png');
                    height: 12px;
                    width: 12px;
                    display: block;
                    background-size: cover;
                    position: absolute;
                    right: -26px;
                    top: 6px;
                }

                >div:nth-of-type(2){
                    visibility: visible;
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    section >div >div >div{
        display: none;
    }
    
    section >div{
        width: auto;

        >div >h3::after{
            display: none !important;
        }
    }
    
}

@media (max-width: 900px) {
    section >div >div{
        padding: 32px clamp(0px, calc((100vw - 360px) / 10), 32px);
    }
}

@media (max-width:440px) {
    section >span{
        width: auto;
    }
}

@media (max-width: 360px) {
    section >div >div >div{
        font-size: 16px;
    }
}