section{
    cursor: pointer;
    height: 18px;
    width: 25px;
    display: flex;
    align-items: flex-end;

    >div{
        position: relative;
        display: flex;
        gap: 4px;

        &.active{
            margin-bottom: 2px;
        }
      
        >div:nth-of-type(1),
        >div:nth-of-type(2),
        >div:nth-of-type(3){
          background-color: #ffffff1c;
          border-radius: 100%;
          height: 5px;
          width: 5px;

          &.active{
            border-radius: 0;
            width: 25px;
            position: absolute;
            height: 2px;
            background-color: #ffffff;

            &:nth-of-type(2){
                top: -6px;
            }

            &:nth-of-type(3){
                top: -12px;
            }
          }
        }
    }
}












// div{
//   width: 60px;
//   height: 30px;
//   position: relative;
//   cursor: pointer;

// //   .dot, .line {
// //     position: absolute;
// //     top: 50%;
// //     transform: translateY(-50%);
// //     background: black;
// //     transition: all 0.4s ease;
// //   }

// //   // Start: drei Punkte horizontal
// //   .dot {
// //     width: 6px;
// //     height: 6px;
// //     border-radius: 50%;
// //     opacity: 1;

// //     &:nth-child(1) { left: 6px; }
// //     &:nth-child(2) { left: 20px; }
// //     &:nth-child(3) { left: 34px; }
// //   }

// //   // Später erscheinende Striche
// //   .line {
// //     width: 0;
// //     height: 4px;
// //     opacity: 0;

// //     &:nth-child(4) { left: 6px; top: 20%; }
// //     &:nth-child(5) { left: 6px; top: 80%; }
// //   }

// //   // Zustand: Aktiv → Animation
// //   &.active {
// //     // Punkte verbinden sich zu einem Strich
// //     .dot {
// //       top: 50%;
// //       left: 6px;
// //       width: 40px;
// //       height: 4px;
// //       border-radius: 2px;
// //     }

// //     // Weitere Striche fahren nach oben
// //     .line {
// //       width: 40px;
// //       opacity: 1;

// //       &:nth-child(4) { top: 10%; }
// //       &:nth-child(5) { top: 30%; }
// //     }
// //   }
// }