section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 104px;
    height: 116px;

    >img{
        height: 64px;
    }
    
    >div >span{
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        font-family: "firaCode", sans-serif;
        white-space: nowrap;
    }

    &:hover >img{
        scale: 1.1;
    }
}