section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 70px;

    >img{
        height: 64px;
    }
    
    >div >span{
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &:hover >img{
        scale: 1.1;
    }
}