section{
    cursor: pointer;
    height: 18px;
    width: 25px;
    display: flex;
    align-items: flex-end;

    >div{
        position: relative;
        display: flex;
        gap: 4px;

        &.active{
            margin-bottom: 2px;
        }
      
        >div:nth-of-type(1),
        >div:nth-of-type(2),
        >div:nth-of-type(3){
          background-color: #ffffff1c;
          border-radius: 100%;
          height: 5px;
          width: 5px;

          &.active{
            border-radius: 0;
            width: 25px;
            position: absolute;
            height: 2px;
            background-color: #ffffff;

            &:nth-of-type(2){
                top: -6px;
            }

            &:nth-of-type(3){
                top: -12px;
            }
          }
        }
    }
}