<section>
    <div>
        <div>
            <span>{{translateContent[translateContent.language].marqueeFrontendDeveloper}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeBasedInAllgaeu}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeOpenToWork}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeAvailbleForRemoteWork}}</span>
            •
            <span></span>
        </div>
        <div>
            <span>{{translateContent[translateContent.language].marqueeFrontendDeveloper}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeBasedInAllgaeu}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeOpenToWork}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeAvailbleForRemoteWork}}</span>
            •
            <span></span>
        </div>
    </div>
</section>