<section>
    <div>
        <div>
            <span>Frontend Developer</span>
            •
            <span>Based in Allgäu</span>
            •
            <span>Open to work</span>
            •
            <span>Availble for remote work</span>
            •
            <span></span>
        </div>
        <div>
            <span>Frontend Developer</span>
            •
            <span>Based in Allgäu</span>
            •
            <span>Open to work</span>
            •
            <span>Availble for remote work</span>
            •
            <span></span>
        </div>
    </div>
</section>