.over-section{
    background-image: url('./../../../assets/img/skills-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
}

section{
    padding: clamp(100px, 8.889vw, 128px) clamp(16px, 7.222vw, 104px);
    gap: clamp(15px, 1.389vw, 20px);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    overflow: hidden;

    >span{
        font-family: 'karla', sans-serif;
        font-weight: 700;
        font-size: clamp(18px, 1.667vw, 24px);
        color: #3DCFB6;
    }
    
    >div{
        display: flex;
        gap: 72px;
        align-items: flex-start;

        >div{

            &:nth-of-type(1){
                display: flex;
                flex-direction: column;
                gap: clamp(32px, 2.778vw, 40px);
                background-color: #3DCFB61A;
                border-radius: 30px;
                border: 1px solid #3DCFB6;
                padding: clamp(24px, 2.222vw, 32px) 32px;
                width: 1852.7px;
                
                >h1{
                    font-family: 'firaCode', sans-serif;
                    font-weight: 700;
                    font-size: clamp(32px, 4.444vw, 64px);
                    color: #3DCFB6;
                }
    
                >span{
                    font-family: 'karla', sans-serif;
                    font-weight: 400;
                    font-size: clamp(16px, 1.25vw, 18px);
                    color: white;
                    text-align: justify;
    
                    &:nth-of-type(1){
                        min-height: 132px;
                    }
    
                    &:nth-of-type(2){
                        font-size: 16px;
                        max-width: 32ch;
                        margin-top: clamp(-24px, -1.944vw, -28px);
                    }
                }
    
                >h2{
                    font-family: 'firaCode', sans-serif;
                    color: white;
                    margin-top: clamp(-16px, -0.556vw, -8px);
                    font-size: clamp(20px, 1.667vw, 24px);
                    
                    >span{
                        color: #3DCFB6;
                    }
                }
    
                > app-link-button{
                    width: 116px;
                }
            }

            &:nth-of-type(2){
                display: flex;
                flex-wrap: wrap;
                // gap: 24px;
                width: 228.7%;
    
                >div{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: clamp(16px, 5vw, 72px);
                    &:nth-of-type(1){
                        gap: 12px clamp(16px, 2.361vw, 48px);
                    }
                    &:nth-of-type(3), &:nth-of-type(4){
                        position: relative;
                    }
                }
    
                span{
                    font-family: "karla", sans-serif;
                    font-weight:700;
                    font-size: 20px;
                    position: relative;
                    display: flex;
                    gap: 8px;
                    cursor: pointer;
    
                    &:nth-of-type(1){
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.still-learning{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1ce6;
    color: white;
    font-size: 32px;
    text-align: center;
}

@media (max-width: 1110px) {
    section >div{
        flex-direction: column;
        
        >div{
            width: auto !important;

            &:nth-of-type(1) >span:nth-of-type(1){
                min-height: auto;
            }
        }
    }
}

@media (max-width: 345px) {
    section >div >div:nth-of-type(1){
        padding: 20px;
    }
}