<section>
    <div>
        <div [ngStyle]="{'animation-duration': translateContent.select == 'DE' ? '8s' : ''}">
            <span>{{translateContent[translateContent.language].marqueeFrontendDeveloper}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeBasedInAllgaeu}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeOpenToWork}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeAvailbleForRemoteWork}}</span>
            •
            <span></span>
        </div>
        <div [ngStyle]="{'animation-duration': translateContent.select == 'DE' ? '8s' : ''}">
            <span>{{translateContent[translateContent.language].marqueeFrontendDeveloper}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeBasedInAllgaeu}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeOpenToWork}}</span>
            •
            <span>{{translateContent[translateContent.language].marqueeAvailbleForRemoteWork}}</span>
            •
            <span></span>
        </div>
    </div>
    <aside></aside>
</section>