section{
    position: absolute;
    background-color: #FFFFFF1F;
    overflow: hidden;
    rotate: calc(-3deg);
    transform-origin: left bottom;
    left: -6px;
    right: -6px;
    bottom: 0;
    padding: 12px 0;
    backdrop-filter: blur(2.5px);
    
    >div {
        display: flex;
        >div{
            display: flex;
            align-items: center;
            gap: 56px;
            animation: marquee 7s linear infinite;
            color: #3DCFB6;
            text-wrap: nowrap;
            will-change: transform;
    
            >span{
                font-family: 'karla', sans-serif;
                font-weight: 400;
                font-size: clamp(24px, 2.222vw, 32px);
            }
        }
    }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  section{
    bottom: 32px;
  }
}

@media (max-width:658px) {
  section{
        bottom: 20px;
    }
}