section{
    overflow: hidden;
    padding: clamp(100px, 8.889vw, 128px) 0;

    > h1{
        font-size: clamp(24px, 2.222vw, 32px);
        font-family: "firaCode", sans-serif;
        color: #3DCFB6;
        font-weight: 700;
        text-align: center;
        margin-bottom: clamp(32px, 3.333vw, 48px);
        margin-inline: 8px;
    }

    > div:nth-of-type(1){
        display: flex;
        gap: clamp(8px, calc(5.185vw - 10.667px), 64px);
        align-items: center;
        justify-content: center;
        position: relative;

        >div{
            display: flex;
            flex-direction: column;
            background-color: #3DCFB61A;
            border-radius: 32px;
            height: clamp(150px, calc(-0.09074 * 100vw + 280.666px), 248px);
            padding: 48px 40px;
            border: solid 1px #3DCFB6;
            justify-content: space-between;
            cursor: pointer;

            >span{
                font-family: "karla", sans-serif;
                font-weight: 400;
                font-size: clamp(18px, calc(0.185vw + 17.333px), 20px);
                color: #FFFFFFCC;
                width: 46ch;
            }

            >div{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;
                margin-bottom: -26px;

                >hr{
                    flex: 1;
                    border-color: #FFFFFFCC;
                    border-radius: 32px;
                }

                >span{
                    font-family: "karla", sans-serif;
                    font-weight: 400;
                    font-size: clamp(16px, 1.25vw, 18px);
                    color: #FFFFFFCC;
                }
            }
        }

        >div:nth-last-of-type(2){
            background-color: #3DCFB64D;
            position: relative;
            cursor: default;
            gap: 32px;
            height: clamp(189px, calc(500px + (-0.2777 * (100vw - 320px))), 500px);

            >span{
                color: white;
                max-width: clamp(20ch, 60vw, 46ch);
                height: 100%;
                align-content: center;
            }

            >div{
                margin-bottom: 0;
                >hr{
                    border-color: white;
                }

                >span{
                    color: white;
                }

            }

            &::before{
                content: "";
                position: absolute;
                top: clamp(-14px, calc(0.003571 * 100vw - 15.143px), -10px);
                left: clamp(-47px, calc(-0.04196 * 100vw + 13.427px), 0px);
                height: 64px;
                background-image: url('./../../../assets/img/quotes.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: clamp(67px, calc(0.02054 * 100vw + 60.427px), 90px);
            }
        }

        >aside{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: linear-gradient(
                to right,
                #1C1C1C 0%,
                rgba(28, 28, 28, 0) 10%,
                rgba(29, 28, 28, 0) 90%,
                #1C1C1C 100%,
            );
            pointer-events: none;
        }
    }

    >div:nth-of-type(2){
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 20px;
        margin-top: 40px;

        >button{
            background-color: transparent;
            border-color: transparent;
            height: 32px;
            width: 32px;
            cursor: pointer;
            transition: transform 0.1s linear;
            position: relative;

            &::after{
                content: "";
                display: flex;
                height: 20px;
                width: 20px;
                background-repeat: no-repeat;
                position: absolute;
                top: 5px;
                left: 5px;
            }
        }

        >button:nth-of-type(1){
            &::after{
                background-image: url('./../../../assets/img/arrow-back.png');
            }
            
            &:hover{
                &::after{
                    transform: translateX(-4px);
                    background-image: url('./../../../assets/img/arrow-back-hover.png');
                }
            }
        }

        >button:nth-of-type(2){
            &::after{
                background-image: url('./../../../assets/img/arrow-forward.png');
            }

            &:hover{
                &::after{
                    transform: translateX(4px);
                    background-image: url('./../../../assets/img/arrow-forward-hover.png');
                }
            }
        }

        >span{
            color: white;
            font-size: 32px;
            pointer-events: none;
        }
    }
}

.active{
    color: #3DCFB6 !important;
}

@media (max-width:533px) {
    aside{
        display: none;
    }
}

@media (max-width:450px) {
    section >div >div >div >span{
        max-width: 120px;
    }
}