<div class="over-section">
  <section #referensesSection class="slider" data-aos="zoom-in">
    <h1>{{translateContent[translateContent.language].whatMyColleaguesSayAboutMe}}</h1>
    <div>
        <div #track (transitionend)="onTransitionEnd()">
            <div #box *ngFor="let item of loopItems; let i = index" [class.active]="i === index + 1" (click)="boxClick(i)">
                <span>{{translateContent[translateContent.language][loopItems[i]].colleagueReference}}</span>
                <div>
                    <hr>
                    <span>{{translateContent[translateContent.language][loopItems[i]].colleagueName}}</span>
                </div>
            </div>
        </div>
        <aside></aside>
    </div>

    <div>
      <Button (click)="prev()"></Button>
      <span [ngClass]="{ 'selected': currentReference == 1 }">•</span>
      <span [ngClass]="{ 'selected': currentReference == 2 }">•</span>
      <span [ngClass]="{ 'selected': currentReference == 3 }">•</span>
      <Button (click)="next()"></Button>
    </div>
  </section>
</div>