*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

@font-face {
    font-family: 'firaCode';
    src: url('./assets/fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

#cursor {
    width: 150px;
    height: 150px;
    position: fixed;
    background: #3DCFB680;
    border-radius: 100%;
    pointer-events: none;
    filter: blur(90px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

app-legal-notice-page, app-privacy-policy-page, app-licenses{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-legal-notice-english, app-legal-notice-german,
app-privacy-policy-english, app-privacy-policy-german{
    flex: 1;
    display: flex;
}