*{
    margin: 0;
}

body{
    background-color: #1c1c1c;
}

@font-face {
    font-family: 'firaCode';
    src: url('./assets/fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'karla';
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

#cursor {
    width: 150px;
    height: 150px;
    position: fixed;
    background: #3DCFB680;
    border-radius: 100%;
    pointer-events: none;
    filter: blur(90px);
    transform: translate(-50%, -50%);
    z-index: 1;
}