*{
    font-family: "firaCode", sans-serif;
    color: #3DCFB6;
    font-size: 16px;
}

h2,h3,h4,h5{
    font-family: "karla", sans-serif;
    color: white;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 18px;
}

a{
    text-underline-offset: 8px;
    text-decoration-style: wavy;
    text-decoration-thickness: from-font;
    
    &:hover{
        text-decoration: none;
        color: white;
    }
}

section{
    padding: 128px 237px 0;
    display: flex;
    flex-direction: column;

    >h1{
        font-family: "firaCode", sans-serif;
        font-weight: 700;
        font-size: 64px;
        color: #3DCFB6;
        text-align: center;
        margin: 40px 0 64px;
    }
    >div{
        display: flex;
        flex-direction: column;
        gap: 24px;

        >div:nth-of-type(3), >div:nth-of-type(4){
            display: flex;
            flex-direction: column;
            gap: 12px;

            >div{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }        
    }
}