<section>
    <img src="assets/img/growth-mindset.png" alt="">
    <span>Growth mindset</span>

    <div>
        <div>
            <span>I have a special</span>
            <span>interest in learning</span>
            <div>
                <div>
                    <img src="assets/img/react-hover.png" alt="">
                    <span>React</span>
                </div>
                <div>
                    <img src="assets/img/vue-hover.png" alt="">
                    <span>Vue.js</span>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</section>