.over-section{
    background-image: url('./../../assets/img/hero-background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    flex: 1;
}

.german-div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block: 24px;
    max-width: 80ch;

    font-family: "karla", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1{
    font-family: "karla", sans-serif;
}

section{
    padding: clamp(100px, 8.889vw, 128px) 24px;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #3DCFB6;
}

.licenses {
  white-space: pre-wrap;
  font-size: clamp(14px, 4.37vw, 16px);
  font-family: "karla", sans-serif;
  font-weight: 400;
}